name: E2E Tests

on:
  pull_request:

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-playwright-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Get Playwright version
        id: get-version
        run: |
          VERSION=$(yq '.catalogs.default["@playwright/test"].version' pnpm-lock.yaml)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  e2e:
    runs-on: ubuntu-latest
    needs: get-playwright-version
    container:
      image: mcr.microsoft.com/playwright:v${{ needs.get-playwright-version.outputs.version }}-noble
      options: --user 1001
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22.x

      - name: Enable corepack
        run: corepack enable pnpm
  
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build packages
        run: pnpm run -r build

      - name: Run E2E tests (dev)
        run: pnpm --filter e2e run test:dev

      - name: Build Storybook for static testing
        run: pnpm --filter e2e run build-storybook

      - name: Run E2E tests (build)
        run: pnpm --filter e2e run test:build

      - name: Upload test results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: failure()
        with:
          name: playwright-report
          path: packages/e2e/playwright-report/
          retention-days: 30
